extends layout

block content
	.container
		include menu
		#pay.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="labelHead",aria-hidden="true")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-hidden="true") x
				h6#labelHead Make a bid
			.modal-body
				p 
					|Amount:
					.input-prepend
						span.add-on $
						input.span2(type="text",placeholder="5.00")
			.modal-footer
				button.btn(data-dismiss="modal",aria-hidden="true") Cancel
				button.btn.btn-primary(data-dismiss="modal",aria-hidden="true") Bid
		#accept.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="accHead",aria-hidden="true")
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-hidden="true") x
				h6#accHead Bid Accepted
			.modal-body
				p 
					| Your bid has been accepted. You can now walk to the person.
			.modal-footer
				button.btn(data-dismiss="modal",aria-hidden="true") Cancel
				a#mPay.btn.btn-primary(href="/recommend", disabled) Make Payment
		.well
			ul.nav.nav-list
				- persons.forEach(function(person){
				li
					a.btn-large(href="#pay",data-toggle="modal",role="button")
						img.icon(src="/img/#{person.img}")
						|  
						span.badge.badge-info= person.rating
						|  
						span= person.name
						- var t=person.time + " "+person.location +" ("+person.num+" ahead)";
						h6= t
				- })



